
.icon-info-circled:before { content: '\e800'; } /* '' */
.icon-left-dir:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-react:before { content: '\e803'; } /* '' */
.icon-emo-coffee:before { content: '\e804'; } /* '' */
.icon-steam:before { content: '\e805'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
